@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Button-Primary */
.button-primary {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #415776 0 -6px 6px inset;
  box-sizing: border-box;
  color: #292424;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 0.6rem 1rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: rgb(125, 224, 125);
}

.button-primary:hover {
  background-color: rgb(125, 224, 125);
  box-shadow: #524848 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-primary:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-primary {
    font-size: 12px;
    padding: 0.6rem 1rem;
  }
}

/* Button-secondary */

.button-secondary {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #3a434f 0 -6px 6px inset;
  box-sizing: border-box;
  color: #f5e7e7;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 0.6rem 1rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: rgb(255, 76, 6);
}

.button-secondary:hover {
  background-color:rgb(255, 76, 6);
  box-shadow: #2f2b28 0 -6px 8px inset;
  transform: scale(1.110);
}

.button-secondary:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-secondary {
    font-size: 12px;
    padding: 0.6rem 1rem;
  }
}
